@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

$background-color: #0f1424;
$card-person-bgColor: #5847eb;
$card-bg: #1c1f4a;
$white: #ffffff;
$color-link: #948AFF;
$card-work: #ff8c66;
$card-play: #56c2e6;
$card-study: #ff5c7c;
$card-exercise: #4acf81;
$card-social: hsl(264, 64%, 52%);
$card-selfCare: #f1c65b;